{% extends 'base.html' %}
{% block title %}
About
{% endblock %}
{% block content %}
<h1>What is ColorfulWorld?</h1>
In a social media ecosystem heavily saturated with apps that orient themselves around pictures, text, posts, and comments, there is opportunity to create a minimalist way of connecting with others. To answer this opportunity, we propose Colorful, a simple web-app which enables users to share how they feel through colors. 
By using natural language processing, we can take a user-updated status and convert any statement to a color. We will enable users to track and view friends, along with their past status data. Additionally, users will be able to view a world map which will display the colors of all Colorful users. To do this, we will use the W3C geolocation API, alongside an animation library called Anime.JS for a smoother UX and UI. Queries to the database will be for user and historical status data, along with other users’ location data. We plan on dynamically loading other users’ status update location data so the world view will be updated live.

{% endblock %}