{% extends 'base.html' %}
{% block title %}
Register
{% endblock %}
{% block content %}
<h1>Register for ColorfulWorld</h1>
<div class="container">
    {% for message in get_flashed_messages() %}
      <div class="alert alert-warning d-flex align-items-center alert-dismissible fade show">
        <button type="button" class="close" data-bs-dismiss="alert"> 
          &times;
        </button>
        {{ message }}
      </div>
    {% endfor %}
</div>
<form method="POST">
    {{form.hidden_tag()}}

    {{form.email.label}}
    {{form.email()}}
    <br>
    {{form.password.label}}
    {{form.password()}}
    <br>
    {{form.confirm_password.label}}
    {{form.confirm_password()}}
    <br>
    {{form.submit()}}
  </form>
{% endblock %}