{% extends 'app/base.html' %}
{% block title %}
Profile
{% endblock %}
{% block content %}

<section class="relative">
    <div class="container mx-auto px-4">
        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg">
            <div class="px-6">
                <div class="flex flex-wrap justify-center">
                    <div class="flex">
                        <div class="w-full lg:w-4/12 px-4 lg:order-3 lg:text-right lg:self-center">
                            <div class="py-6 px-3 mt-32 sm:mt-0">
                                <button
                                    class="bg-pink-500 active:bg-pink-600 uppercase text-white font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1 ease-linear transition-all duration-150"
                                    type="button" onclick="window.location.href='/profile/'">
                                    Done
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="w-full lg:w-4/12 px-4 lg:order-1">
                        <div class="flex justify-center py-4 lg:pt-4 pt-8">
                            <div class="mr-4 p-3 text-center">
                                <span class="text-xl font-bold block uppercase tracking-wide">0</span>
                                <span class="text-sm">Folowers</span>
                            </div>
                            <div class="mr-4 p-3 text-center">
                                <span class="text-xl font-bold block uppercase tracking-wide">0</span>
                                <span class="text-sm">Following</span>
                            </div>
                            <div class="lg:mr-4 p-3 text-center">
                                <span class="text-xl font-bold block uppercase tracking-wide">89</span>
                                <span class="text-sm">Statuses</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-12 mb-12">
                    <h3 class="text-4xl font-semibold leading-normal mb-2 mb-2">
                        {{user.username}}
                    </h3>
                    <div class="mb-2 mt-10">He/Him
                    </div>
                    <div class="container">
                        {% for message in get_flashed_messages() %}
                        <div class="alert alert-warning d-flex align-items-center alert-dismissible fade show">
                            <button type="button" class="close" data-bs-dismiss="alert">
                                &times;
                            </button>
                            {{ message }}
                        </div>
                        {% endfor %}
                    </div>
                    <form class="bg-white rounded px-8 pt-6 pb-8 mb-4 flex justify-center flex-col items-center w-full"
                        method="POST">
                        {{form.hidden_tag()}}

                        <div class="mb-6 flex gap-2">
                            {{form.email.label(class="block text-gray-700 text-sm font-bold mb-2")}}
                            {{form.email(class="shadow appearance-none border border-red-500 rounded py-2 px-3
                            text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline")}}
                        </div>
                        <div class="mb-6 flex gap-2">
                            {{form.username.label(class="block text-gray-700 text-sm font-bold mb-2")}}
                            {{form.username(class="shadow appearance-none border border-red-500 rounded py-2 px-3
                            text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline")}}
                        </div>
                        <div class="mb-6 flex gap-2">
                            {{form.old_password.label(class="block text-gray-700 text-sm font-bold mb-2")}}
                            {{form.old_password(class="shadow appearance-none border border-red-500 rounded py-2
                            px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline")}}
                        </div>
                        <div class="mb-6 flex gap-2">
                            {{form.new_password.label(class="block text-gray-700 text-sm font-bold mb-2")}}
                            {{form.new_password(class="shadow appearance-none border border-red-500 rounded py-2
                            px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline")}}
                        </div>
                        <div class="mb-6 flex gap-2">
                            {{form.confirm_new_password.label(class="block text-gray-700 text-sm font-bold mb-2")}}
                            {{form.confirm_new_password(class="shadow appearance-none border border-red-500 rounded
                            py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none
                            focus:shadow-outline")}}
                        </div>
                        <div class="flex gap-2 justify-center">
                            {{form.submit(class="bg-red-400 hover:bg-red-300 text-white font-bold py-2 px-4 rounded
                            focus:outline-none focus:shadow-outline")}}
                        </div>
                    </form>
                    <div class="mb-2">
                        Bio
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}