<!-- 
    This is the page which the user is dumped onto if they are logged in
 -->

{% extends 'app/base.html' %}
{% block title %}
Colorful - Home
{% endblock %}
{% block content %}
<h1>Colorful Home page</h1>
<div>
    <input id="setStatus-bar" class = "border-2 border-black" type="text" name="query">
    <button id="setStatus-button" class = "bg-sky-500 active:bg-sky-700 p-2" type="button"> Set Status </button>    
</div>

<!-- <button id="test-button" class = "bg-sky-500 active:bg-sky-700 p-2" type="button"> Get Stati </button>     -->

<div id="status-list">
</div>



{% endblock %}