<!-- 
    This is the page which the user is dumped onto if they are logged in
 -->

{% extends 'app/base.html' %}
{% block head %}
<script src="/static/scripts/app-home.js" type="text/javascript"></script>
{% endblock %}
{% block title %}
Colorful - Home
{% endblock %}
{% block content %}
<h1 class="text-3xl py-2 font-medium">Feeling colorful,  <span class="not-italic font-bold">{{user.username}}</span> ?</h1>
<div class="flex w-full gap-2">
    <input id="setStatus-bar" class="grow bg-gray-200 shadow-inner rounded-md p-2 placeholder:italic" type="text" placeholder="How are you feeling?" name="query">
    <button id="setStatus-button" class="bg-gradient-to-br from-orange-600 to-orange-400 text-white drop-shadow p-2 hover:drop-shadow-md rounded" type="button"> Set Status </button>
</div>

<!-- <button id="test-button" class = "bg-sky-500 active:bg-sky-700 p-2" type="button"> Get Stati </button>     -->

<div id="status-list" class="my-6 p-2 bg-gray-100 shadow-inner rounded-md">
</div>




{% endblock %}