<!-- 
    This is the page which the user is dumped onto if they are logged in
 -->

{% extends 'app/base.html' %}
{% block title %}
Colorful - Home
{% endblock %}
{% block head %}
<script src="/static/scripts/app-maps.js" type="text/javascript"></script>
{% endblock %}
{% block content %}

<div id="map" class="h-full">
</div>
<div class="hidden">
    <div id="setStatus">
        <input id="setStatus-bar" class="border-2 border-black rounded-sm p-1" type="text" name="query">
        <button id="setStatus-button" class="bg-gray-300 active:bg-gray-700 p-2 hover:bg-gray-400 rounded-sm"
            type="button">
            Set Status </button>
    </div>
</div>




<script async src="/api/loadmaps.js" type="text/javascript"></script>
{% endblock %}